/* body {
    overflow: visible;
} */


.row {
    width: fit-content;
} 

.modal {
    z-index: 99999;
}
 #advancedModalContent {
    color: white;
    background-color: #003566;
}

/* Solid color overlay */
.overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC300; /* Change this to the color you want */
    z-index: 9999;
  }
  
  /* Animation to fade out the overlay */
  @keyframes fade-out-overlay {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Apply the animation to the overlay */
  .overlay {
    animation: fade-out-overlay 1.4s forwards;
  }