*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}
body{
  background-color: #ADD8E6;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: auto;
    width: 100vw;
}

#backgroundChoclate {
  background-color: chocolate;
  z-index: 1;
  left: 0;
  transition: left 0.5s ease,
              width 0s ease-in
}

main{
  z-index: 3;
}

#backgroundBlue {
  background-color: #ADD8E6;
  z-index: 2;
  right: 0;
  transition: left 0.5s ease,

}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.position-absolute {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 768px) {
  .w-50 {
    width: 100%;
  }
  #backgroundBlue {
    right: initial;
    left: 0;
  }
}

canvas{
	position:absolute;
	top:0;
	left:0;
  z-index: -1000;
}

#title{
    color: black;
    /* padding-top: 2%;
    padding-bottom: 4%; */
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

#container{
  position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

#logo{
    width: auto;
    height: 80%;
}

img{
    height: 400px;
    width: 600px;
}

#getStarted{
    margin-top: 1%;
    font-weight: bold;
}

.carousel-image img {
    border-radius: 15%;

  }

  main{
    width: 600px;
    height:89vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#getStarted {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: linear-gradient(#ADD8E6, chocolate);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2%;
  text-decoration: none;
  transition: all 0.37s ease-in;
}

#getStarted :hover{
  transform: scale(1.05);
}

/* #getStarted:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
} */

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#getStarted:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#ADD8E6, chocolate);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.carousel-caption p {
  width:100%
}

.carousel-caption {
  width: 100%;
  right: 0%;
  left:0%;
  padding-bottom: 0;
}

.carousel-inner {
  border-radius: 10%;
}

.slide {
  width: 100% !important;
  z-index: 9999 !important;
}

#backgroundChoclate.slide {
  transition-duration: 0.8s; /* set a longer duration for position change */
}