*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body{
  background-color: #001D3D;
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: auto;
    width: 100vw;
}

#backgroundChoclate {
  background-color: 
  #FFC300;
  z-index: 1;
  left: 0;
  transition: left 0.5s ease,
              width 0s ease-in
}

main{
  z-index: 3;
}

#backgroundBlue {
  background-color: #ADD8E6;
  z-index: 2;
  right: 0;
  transition: left 0.5s ease,

}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.position-absolute {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 768px) {
  .w-50 {
    width: 100%;
  }
  #backgroundBlue {
    right: initial;
    left: 0;
  }
}

canvas{
	position:absolute;
	top:0;
	left:0;
  z-index: -1000;
}

#title{
    color: black;
    /* padding-top: 2%;
    padding-bottom: 4%; */
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

#container{
  position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

#logo{
    width: auto;
    height: 80%;
}

img{
    height: 400px;
    width: 600px;
}

#hoverParagraph{
    margin-top: 1%;
    font-weight: bold;
    transition: all 0.2s ease-in;

}

.carousel-image img {
    border-radius: 15%;

  }

  main{
    width: 600px;
    height:89vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.carousel-caption p {
  width:100%
}

.carousel-caption {
  width: 100%;
  right: 0%;
  left:0%;
  padding-bottom: 0;
}

#hoverParagraph :hover{
  transform: scale(150%);
}

.carousel-inner {
  border-radius: 10%;
}

.slide {
  width: 100% !important;
  z-index: 9999 !important;
}

#backgroundChoclate.slide {
  transition-duration: 0.8s; /* set a longer duration for position change */
}