@font-face {
    font-family: myFirstFont;
    src: url(images/AerologicaRegular-K7day.ttf);
  }

  #logo{
    font-family:myFirstFont;
    color: white;
  }
  body {
    background-color: black;
  }

  .navbar {
    background-color: black;
    opacity: 90%;
  }

