*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

/* .carousel-image :hover {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;

} */

@font-face {
    font-family: myFirstFont;
    src: url(images/AerologicaRegular-K7day.ttf);
  }

  /* #header{
    display: flex;
    flex-direction: column;
  } */

  #logo{
    color: black;
  }
  body {
    background-color: #FFC300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  }
  

  .navbar {
    background-color: #FFFFF1;
        opacity: 90%;
  }

  #carouselContainer{
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  #videoGameCaourselCap{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 1); /* semi-transparent black */
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
}
#hoverCard {
  border: black 4px solid;
}

#hoverCard :hover {
  transition: 0.2s ease-in;
  transform: scale(1.05) scale(103%);
}

  /* Set initial styles for the game data container */
#game-data {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}



/* Set styles for the game data container inside the expanded card */

.card.expanded {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

#genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  /* Removed width and height properties */
  /* Added flex properties */
  flex: 0 0 calc(33.33% - 1rem);
  margin-bottom: 1rem;
  background-color: #1E87D2;
}

/* CSS code to hide modals by default */
.modal {
  display: none;
}

.modal-content {
  background-color: #36b6b6;
}

#advancedModalContent {
  background-color: #ADD8E6;
  text-shadow: none !important;
  
}

#advanced{
  text-shadow: none !important;
}

/* CSS code to show modals when a specific class is added */
.modal.show {
  display: block;
}


.fade-in {
  visibility: visible;
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width:580px) {
  #genres {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#genres {
  width:90%
}

.descriptionBox {
  background-color: #212529;
  color: white;
  width: 285px;
  border-radius: 3%;
}

.carousel-image img {
  height: 600px;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  #genreContainer {
    flex-direction: column;
  }
}

.ui.sidebar {
  overflow: visible !important;
}

.expandable-content {
  display: none;
}

.expandable:hover .expandable-content {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-color: transparent transparent #fff transparent;
  position: absolute;
}
#genreContainer {
  background-color:#001D3D ;
  border-top: 2px white solid;
}

@media only screen and (max-width: 600px) {
  #gameCardContainer {
    flex-direction: column !important;
    align-items: center;
  }
}

footer {
  border-top: #FFFFF1 2px solid;
}

#searchBar {
  text-shadow: none

}

#searchInput {
  text-shadow: none

}

.card-body {
  text-shadow: none;
}






.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2023-3-29 20:27:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/**
  * Traditional
  *
  * @author jh3y
*/
.traditional:before {
  -webkit-animation: spin .5s infinite linear;
          animation: spin .5s infinite linear;
  border-radius: 100%;
  -webkit-box-shadow: inset -2px 0 0 0px var(--primary);
          box-shadow: inset -2px 0 0 0px var(--primary);
  content: '';
  height: 50px;
  position: absolute;
  border-top: 5px solid #1ABC9C;
  border-right: 5px solid #1ABC9C;
  border-bottom: 5px solid #1ABC9C;
  border-left: 5px solid #fff;
  width: 50px; }
